@keyframes modalOpen {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-100vh);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-20vh);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-10vh);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-5vh);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-3vh);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes modalClose {
	0% {
		opacity: 1;
		transform: rotate(0) scale(1);
	}

	100% {
		opacity: 0;
		transform: rotate(-540deg) scale(2);
	}
}

.c-modal {
	&.open,
	&.hide {
		& > [class$="__overlay"] {
			z-index: 100;
		}
		& [class$="__overlay"] > [class$="__window"] {
			opacity: 1;
		}
	}
	&.open {
		& > [class$="__overlay"] {
			z-index: 100;
			background-color: rgba(0, 0, 0, 0.5);
			transition: background-color 2s ease;
		}
		& [class$="__overlay"] > [class$="__window"] {
			animation: modalOpen 2s ease-in-out 0s 1 normal forwards;
		}
	}
	&.hide {
		& [class$="__overlay"] > [class$="__window"] {
			animation: modalClose 1s ease-in-out 0s 1 normal forwards;
		}
	}

	&__overlay {
		z-index: -1;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		display: flex;
		justify-content: center;
		align-items: center;

		background-color: rgba(0, 0, 0, 0);
		transition: background-color 1s ease-in-out;
	}

	&__window {
		opacity: 0;
		min-width: 500px;
		background-color: rgb(255, 255, 255);
		border-radius: 30px;

		transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
	}

	&__header,
	&__body,
	&__footer {
		padding: 20px 30px;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: baseline;

		border-bottom: 1px solid rgba(0, 0, 0, 0.336);
	}

	&__title {
		max-width: 400px;
	}

	&__close {
		font-size: 36px;
		line-height: 70%;
		overflow: hidden;
		font-weight: 700;
		cursor: pointer;
	}

	&__body {
		display: flex;
		gap: 30px;
	}

	&__body-img {
		height: 200px;
		width: 200px;
		object-fit: contain;
	}

	&__body-content {
		max-width: fit-content;
	}

	&__body-description {
		max-height: 200px;
		overflow: auto;
	}

	&__p {
		font-size: 20px;
	}

	&__footer {
		display: flex;
		justify-content: flex-end;
		gap: 10px;
		border-top: 1px solid rgba(0, 0, 0, 0.336);
	}
}
