html,
body {
	height: 100%;
}
.body {
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1;
}
.footer {
	height: 50px;
	background-color: #8f8f8f;
}

@import "./_cardsBlock";
@import "./_modal";
